<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Adding new device to database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href:"css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add a device</h1>
	<div>
	<table class="table table-striped">
		<form  th:object="${devices}" th:action="@{save}" action="#" method="post">
		  	
    	
    		<label>Model: </label>
			<input type="text" id="model" th:field="*{model}"/> Example Galaxy S20
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	 <label>Weight: </label>
			<input type="number" id="weight" th:field="*{weight}" /> Weight in grams
			<div style="clear: both; display: block; height: 10px;"></div>	
    		 
		  	
			<label>Screen size: </label>
			<input type="number" step="0.01" id="screen" th:field="*{screen}"/> Screen in inches
			<div style="clear: both; display: block; height: 10px;"></div>			
		  
		  	<label>Category: </label>
    		<select id="categorylist" th:field="*{category}" >
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" 
       			th:text="${category.tech}"></option>
    		</select><br>
		  	
		<label>Manufactor: </label>
		  	<select id="brandlist" th:field="*{manufactor}" >
       			<option th:each="manufactor: ${manufactories}" th:value="${manufactor.manufactorid}" 
       			th:text="${manufactor.brand}"></option>
    		</select><br>
    		
		  	<br><br>
		  		<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
		
		<a class="btn btn-danger" href="/devicelist">Cancel</a>
		</table>
	</div>
</body>
</html>