<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Adding new brand to database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href:"css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add a brand</h1>
	<div>
	<table class="table table-striped">
		<form  th:object="${manufactories}" th:action="@{manusave}" action="#" method="post">
		  	
		  	
    	
    		<label>Manufactor</label>
			<input type="text" id="brand" th:field="*{brand}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	    		
		  	<br><br>
		  		<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
		<a class="btn btn-danger" href="/listingmanufactor">Cancel</a>
		</table>
	</div>
</body>
</html>