<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link type="text/css" rel="stylesheet" href:"css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <head>
        <title>Device management login page</title>
    </head>
    <body>
   
        <div th:if="${param.error}">
            Incorrect username or password.
        </div>
        <div th:if="${param.logout}">
         <a><img src="https://img.icons8.com/metro/26/000000/running.png"/> You have signed out.</a>
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input class="btn btn-success" type="submit" value="Sign In" /></div>
        </form>
        
    </body>
</html>